:root {
  --bg-color-black: #2f303a;
  --blue: #2196f3;
  --black: #212121;
  --grey: #757575;
  --white: #ffffff;
  --our-team-bg: #f5f4fa;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --inactive-bg-button: #f5f4fa;
  --hero-bg: rgba(47, 48, 58, 0.4);
  --social-media-icon: #afb1b8;
  --customers: #afb1b8;
  --sm-icon: rgba(255, 255, 255, 0.1);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.no-padding {
  padding-bottom: 0px;
  padding-top: 0px;
}
.logo-black {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.web {
  color: var(--blue);
}
.site-nav,
.contacts-nav,
.main-nav {
  display: flex;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--white);
  z-index: 9999;
}
.main-nav {
  align-items: center;
}
.site-nav {
  margin-left: 93px;
}
.contacts-nav {
  margin-left: auto;
}
.site-nav .item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.active::after {
  display: inline-block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;

  background: var(--blue);
  border-radius: 2px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.active {
  color: var(--blue);
}
.site-nav .link,
.contact-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--blue);
}
.contact-link .svg-img {
  margin-right: 10px;
  fill: var(--grey);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .svg-img,
.contact-link:focus .svg-img {
  fill: var(--blue);
}
.main-title {
  background-color: var(--bg-color-black);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  background-image: linear-gradient(to right, var(--hero-bg), var(--hero-bg)),
    url(../images/studio/hero.jpg);
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-title .hero {
  display: block;
  margin-bottom: 30px;

  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.main-title .btn {
  display: inline-block;
  border-radius: 4px;
  border: 1px var(--blue);
  padding: 10px 32px;
  min-width: 200px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  outline: none;
  cursor: pointer;
}
.backdrop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal > .btn-div > .close-btn > .svg-img {
  padding: 6px;
  width: 30px;
  height: 30px;
}
.modal .btn-div {
  display: flex;
  justify-content: flex-end;
}
.modal .close-btn {
  display: flex;
  text-align: end;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--white);
  outline: none;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--blue);
}
.modal > .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-field:not(:first-child) {
  margin-top: 10px;
}
.form-label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;

  color: var(--grey);
  letter-spacing: 0.01em;
}

.form-input {
  margin: 0px;
  position: absolute;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 42px;
  position: relative;
  width: 100%;
  height: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
}
.form-input::placeholder {
  font-size: 14px;
}
.form-field .wrapper {
  position: relative;
  transform: translateY(0%);
}
.form-field .wrapper .svg-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11px 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field .textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-input:focus {
  border-color: var(--blue);
  outline: none;
}
.form-input:focus + .svg-img {
  fill: var(--blue);
}
.checkbox {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-items: center;

  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox .checkbox-label {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-left: 9px;
  color: var(--grey);
}

.checkbox-input {
  /* position: absolute; */

  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkbox .wrapper {
  position: relative;
}
.checkbox-item {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 0;
  transform: translateY(25%);
  background-image: url(../images/studio/checkbox-off.svg);
}
.checkbox-input:focus + .wrapper > .checkbox-item {
  background-image: url(../images/studio/checkbox-off.svg);
}
.checkbox-input:checked + .wrapper > .checkbox-item,
.checkbox-input:focus:checked + .wrapper > .checkbox-item {
  background-image: url(../images/studio/checkbox-on.svg);
}
.checkbox-label {
  padding-left: 16px;
}
.contract {
  color: var(--blue);
}
.modal .send-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  display: block;
  min-width: 200px;
  padding: 10px 55px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;

  background-color: var(--blue);
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  margin-left: auto;
  margin-right: auto;
}
.advantages {
  display: flex;
  align-items: center;
}
.advantages .item {
  width: calc((100% - 90px) / 4);
}
.advantages .svg-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--our-team-bg);
}
.advantages .title {
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.advantages .text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.advantages .item:not(:last-child),
.about-us .item:not(:last-child),
.our-team .item:not(:last-child) {
  margin-right: 30px;
}
.our-team {
  background-color: var(--our-team-bg);
}
.our-team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.adv {
  padding-top: 94px;
}
.about-us .list {
  display: flex;
}
.about-us .photo {
  display: block;
  width: 370px;
  height: auto;
}
.about-us .item {
  position: relative;
}
.about-us .text {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.about-us .title,
.our-team .title {
  margin-bottom: 50px;
}
.our-team .list {
  display: flex;
  justify-content: center;
}
.our-team .photo {
  width: 270px;
  margin-bottom: 30px;
}
.our-team .specialty {
  font-weight: 400;
  color: var(--grey);
  padding-top: 10px;
  padding-bottom: 16px;
}
.our-team .title,
.about-us .title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}
.our-team .item {
  background-color: var(--white);
}
.our-team .name,
.our-team .specialty {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team .name {
  font-weight: 500;
  color: var(--black);
}
.social-media > .item {
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: none;
}
.social-media .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media .svg-img {
  fill: var(--social-media-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media > .item:not(:last-child) {
  margin-right: 10px;
}
.social-media .link:hover,
.social-media .link:focus {
  background-color: var(--blue);
  cursor: pointer;
}
.social-media .link:hover .svg-img,
.social-media .link:focus .svg-img {
  fill: var(--white);
}
footer {
  background-color: var(--bg-color-black);
}
.logo-white {
  display: block;
  padding-top: 60px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.street-name {
  display: block;
  padding-top: 20px;
  padding-bottom: 9px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}
.regular-customers .title {
  display: block;

  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black);
}
.regular-customers .list {
  display: inline-flex;
  justify-content: center;
}
.customers {
  display: flex;
}
.customers .item:not(:last-child) {
  margin-right: 30px;
}
.customers .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--customers);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .svg-img {
  fill: var(--customers);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .link:hover,
.customers .link:focus {
  border-color: var(--blue);
}
.customers .link:hover .svg-img,
.customers .link:focus .svg-img {
  fill: var(--blue);
}
.footer {
  display: flex;
}
.footer-contacts .item {
  display: flex;
}
.footer-contacts .link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-footer);
  text-decoration: none;
  font-style: normal;
}
.footer-contacts .item:not(:last-child) {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer-contacts .item:last-child {
  padding-bottom: 60px;
}
.join-us .title,
.sign-up .title {
  padding-top: 72px;
  padding-bottom: 20px;
  margin-left: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}
.join-us .list {
  display: inline-flex;
  margin-left: 70px;
}
.join-us .link {
  display: inline-flex;
  fill: var(--white);
  background-color: var(--sm-icon);
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us .item:not(:last-child) {
  margin-right: 10px;
}
.join-us .link:hover,
.join-us .link:focus {
  background-color: var(--blue);
  cursor: pointer;
}
.sign-up .form-input {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bg-color-black);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white);
}
.sign-up .title {
  margin-left: 93px;
}
.sign-up .form-2 {
  display: flex;
  margin-left: 93px;
}
.sign-up .form-input {
  margin-right: 12px;
}
.sign-up .form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.sign-up .send-btn {
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border-color: transparent;
  padding-left: 29px;
  padding-right: 62px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;

  color: var(--white);
}
.sign-up .wrapper {
  position: relative;
}
.sign-up .wrapper .svg-img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13px 28px 13px 10px;
}
